body {
  font-family: "Arial";
  font-size: 20px;
}

a {
  color: #00f;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.title {
  position: absolute;
  font-size: 54px;
  font-weight: bold;
  top: 0;
  bottom: 0;
  margin: auto;
  height: 70px;
  margin-left: 5px;
}

.caption {
  font-size: 28px;
  font-weight: bold;
}

.description {
  color: #111;
}

.annotation {
  color: #70ad47;
}

.code {
  width: 800px;
  padding: .5em;
  font-family: Consolas;
  font-size: 9pt;
  color: #aaa;
  background: #111;
}

.code1 {
  font-family: Arial;
  font-size: 18px;
  color: #0070c0;
}

.emphasis {
  color: #fff;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 75px;
  background: #00a8ff;
  color: #fff;
  z-index: 1;
}

.content {
  position: relative;
  top: 80px;
}

.button {
  width:180px;
  font-size:20px;
  font-weight:bold;
  text-decoration:none;
  display:block;
  text-align:center;
  padding:8px 0 10px;
  margin: 4px 4px 12px 4px;
  color:#fff;
  background: #0068cc;
  border-radius: 5px;
}

.button:hover {
  background: #00a8ff;
  text-decoration: none;
}

/*td {*/
/*  width: 100px;*/
/*  font-size: 20px;*/
/*  border: solid 1px #ccc;*/
/*}*/
